@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.page-color {
  width: 100%;
  height: 100vh;
}
.page1 .page-color {
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
.page1 .text {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.page1 .text .txt-hidden {
  width: 100%;
  overflow: hidden;
}
.page1 .text .main-text {
  width: 100%;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 120px;
  letter-spacing: -10px;
  word-spacing: 20px;
  line-height: 0.8em;
  white-space: nowrap;
  position: relative;
}
.page1 .text .main-text:first-of-type,
.page1 .text .main-text:nth-of-type(5) {
  animation: text-slide-1 12s linear infinite;
}
.page1 .text .main-text:nth-of-type(3) {
  animation: text-slide-1 10s linear infinite;
}
.page1 .text .main-text:nth-of-type(2),
.page1 .text .main-text:nth-of-type(4) {
  animation: text-slide-1 8s linear infinite;
}
@keyframes text-slide-1 {
  0% {
    right: 0;
  }
  100% {
    right: 700px;
  }
}
.page1 .text .main-text:hover {
  animation-play-state: paused;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.page2 .page-color {
  background: linear-gradient(to bottom, #009efd 0%, #ffe401 100%);
}
.page3 {
  width: 100%;
}
.page3 .page-background {
  left: 0;
  top: 0;
  width: 100%;
  height: 956vh;
  background: linear-gradient(
    to bottom,
    #ffe401 0%,
    #fd1701 29%,
    #cd00a0 55%,
    #000ed3 72%,
    #00cc01 100%
  );
  transform-origin: left top;
  overflow-y: hidden;
}
