@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: helvetica, "Noto Sans KR", "applesdgothicneo", sans-serif;
}
div {
  position: relative;
  width: 100%;
  height: 100vh;
}
h2 {
  position: absolute;
  font-size: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2:first-of-type {
  top: 42%;
}
h2:nth-of-type(2) {
  top: 58%;
}
